<div class="calculator">
    <h2 class="title">Calculadora</h2>

    <div class="input-container">
        <div class="input-group">
            <label for="operator1">Ingresa el 1er número:</label>
            <input id="operator1" [(ngModel)]="operator1" type="number" class="form-control operator" name="operator1" placeholder="0.0">
        </div>

        <div class="input-group">
            <label for="operator2">Ingresa el 2do número:</label>
            <input id="operator2" [(ngModel)]="operator2" type="number" class="form-control operator" name="operator2" placeholder="0">
        </div>
    </div>

    <div class="buttons">
        <div class="operation-button addition-button" (click)="addition()">
            <span>+</span>
        </div>
        <div class="operation-button subtraction-button" (click)="substraction()">
            <span>-</span>
        </div>
        <div class="operation-button multiplication-button" (click)="multiplication()">
            <span>&times;</span>
        </div>
        <div class="operation-button division-button" (click)="division()">
            <span>&divide;</span>
        </div>
        <div class="operation-button square-root-button" (click)="sqrt()">
            <span>&radic;</span>
        </div>
    </div>

    <div class="result-container">
        <span class="result">{{ result }}</span>
    </div>
</div>


